.user-input-container{
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: space-between;
  background-color: #bf4aa8;
  padding: 10px;
  margin-bottom: 0px;

  .input-textfield{
      height: 22px;
      outline: 0;
      border: none;
      width: 95%;
      border-radius: 8px;
      padding: 2px 5px 2px 5px;
      font-family: "Roboto";
      padding-left: 20px;
      font-size: 18px;
      font-weight: 300;
  }

  .input-textfield::placeholder{
      font-family: "Roboto";
  }

  .button{
      display: flex;
      align-items: center;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      color: white;
      background-color: #007ca1;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 10px;

      span{
          margin-left: 2px;
      }
  }

  .button:hover{
      background-color:#237879;
  }
}
