.container {
  position: relative;
  height: 83.7vh;

  .message-panel-container-cloud {
    z-index: 2;
    padding: 1px;
    font-family: "Roboto";
    font-weight: 300;
    height: 100%;
    overflow: auto;
    padding: 0px;
    background-color: #111111;
    background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;

    .no-message-container-cloud {
      background-color: #e0e0e0;
      width: fit-content;
      padding: 6px;
      border-radius: 6px;
      margin-right: auto;
      margin-left: auto;
    }

    .message-inner-container-cloud {
      display: flex;

    }

    .message-container-cloud {
      display: flex;
        width: 410px;
        height: fit-content;
        padding-top: 10px;


      .assistant-message-style-cloud {
         background-color:#ffb766;
        position: relative;
        display: inline-block;
        width: fit-content;
        padding: 12px;
        border-radius: 6px;
        margin-left: 200px;
        margin-bottom: 16px;
        margin-right: 10px;
        margin-top: 0px;
      }

      .avatar {
        background-color: #e0e0e0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #e0e0e0;
      }
      .message-cloud {
        background-color: hsl(255deg 50% 40%);
        width: fit-content;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 16px;
        max-width: 1000px;
        margin-right: 10px;
        margin-top: 0px;
      }
    }
    .loading-icon {
      position: fixed;
      bottom: 70px;
      right: 30px;
    }
  }



  .image-panel-container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4rem;
    width: 100%; /* Adjust as needed */
    height: 0%; /* Adjust as needed */
    z-index: 1; /* Ensure it's above the message panel */
    /* Additional styles if needed */
  }
  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 403px;
    margin-left: 448px;
  }

  .cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0.5rem;
    width: 52%;
   // background-image: var(--bg-linear);
background-color: red;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;

    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }
}
