<section class="container">
  <section class="message-panel-container-cloud" #scrollframe>
    @for (message of messages; track message.id) {
      @if ( "user") {
    <div
      class="message-inner-container-cloud"
      style="justify-content: flex-start"
    >
      <div class="message-container-cloud">
        <div
          class="avatar"
          style="background-image: url('{{ userPath }}')"
        ></div>
        <div class="message-cloud">{{ message.content }}</div>
      </div>
    </div>
    } @else {
    <div
      class="message-inner-container-cloud"
      style="justify-content: flex-end"
    >
      <div class="message-container-cloud">
        <div class="assistant-message-style-cloud">{{ message.content }}</div>
        <div
          class="avatar"
          style="background-image: url('{{ avatarPath }}')"
        ></div>
      </div>
    </div>
    } }
  </section>

  <section class="message-panel-container" #scrollframe>
    <audio
      #audio
      src="https://assets.mixkit.co/active_storage/sfx/2358/2358-preview.mp3"
    ></audio>
    <audio
      #audioToggle
      src="https://assets.mixkit.co/active_storage/sfx/2925/2925-preview.mp3"
    ></audio>
  </section>

  <section class="image-panel-container">
    <div
      class="image-container"
      style="
        border-radius: 50%;
        display: block;

        margin-left: auto;
        margin-right: auto;
        width: 70%;
      "
    >
      <app-image-slider
        style="
          height: 100px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          object-fit: contain;
        "
        [indicatorsVisible]="true"
        [animationSpeed]="50"
        [slides]="slides"
        [autoPlay]="false"
        [autoPlaySpeed]="5000"
        #imageSlider
      ></app-image-slider>
    </div>
    <div class="action">
      <button class="cart-button" (click)="onChat()">
     Generate Image
      </button>
    </div>
  </section>
</section>
