<body>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ayane Tamuki</mat-card-title>
      <mat-card-subtitle>Blonde, cute, shy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/anime/character_2/posed_image_1 (2).png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       Looks good. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
       A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
       bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
  
      <div class="vertical-center">
        <button mat-stroked-button (click)="onLogin()" >Chat Now</button>
        </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Lana Mercer</mat-card-title>
      <mat-card-subtitle>teen, school girl, energetic</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/anime/character_1/posed_image_1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="vertical-center">
        <button mat-stroked-button  (click)="onLogin()">Chat Now</button>
        </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hayami Yamamoto</mat-card-title>
      <mat-card-subtitle>Hardworking woman, mid-aged</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/anime/character_3/posed_image_3 (1).png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       Looks good. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
       A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
       bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="vertical-center">
        <button mat-stroked-button (click)="onLogin()" >Chat Now</button>
        </div>
    </mat-card-actions>
  </mat-card>
  </body>
  <router-outlet></router-outlet>
  